.control-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  &:focus {
    outline: none;
  }

  &:hover {
    color: #999;
    .inactive {
      color: #ddd;
    }
  }

  .inactive {
    color: #aaa;
  }
}
