@import '_colors';
@import '_mixins';

.timer-box {
  border: 1px solid $primaryColor;
  background-color: $backgroundColor;
  color: $primaryColor;
  padding: 1em;
  text-align: center;

  &__title {
    margin-top: 0;
    font-weight: normal;
    font-size: 1.1em;
  }

  &__input {
    width: 3em;
    margin-right: 1em;
  }

  &__btn {
    background: $primaryColor;
    color: $backgroundColor;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;

    @include hoverStyle(#{&}) {
      &:hover {
        background: $primaryHoverColor;
      }

      &:active {
        background: $primaryActiveColor;
      }
    }

    &:disabled {
      color: $secondaryColor;
      background: $primaryActiveColor;
      cursor: not-allowed;
    }
  }

  &__btn--inline {
    margin-left: 1em;
  }

  &__durations {
    @include borderedList();

    &__item {
      padding: 0;
      justify-content: center;

      &__btn {
        width: 100%;
        height: 100%;
        padding: 0.5em;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1em;
        color: $primaryColor;

        // no need for @include hoverStyle since clicking
        // will hide these
        &:hover {
          background-color: #444;
        }

        &:active {
          background-color: #333;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__time {
    margin: 0 2em;
  }
}
