@import '_colors';

.record-tab {
  label {
    margin-right: 0.5em;
  }

  input:invalid {
    border: 1px solid red;
  }

  .form-group {
    margin-top: 1em;
  }

  .generated-recordings-queue {
    list-style: none;
    padding: 0;

    &__item {
      padding: 0.25em 0.5em;
      border-top: 1px solid $secondaryColor;
      border-left: 1px solid $secondaryColor;
      border-right: 1px solid $secondaryColor;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:last-of-type {
        border-bottom: 1px solid $secondaryColor;
      }
    }
  }
}
