<!DOCTYPE html>

<html lang="en">
  <head>
    <script>
      window.twttr = (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      })(document, 'script', 'twitter-wjs');
    </script>
    <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Ambient Generative Music by Alex Bainter"
    />
    <meta name="author" content="Alex Bainter" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="application-name" content="Generative.fm" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Generative.fm" />
    <meta
      name="keywords"
      content="generative music,alex bainter,generative.fm,generativefm"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="<%= require('./src/icons/apple-touch-icon-57x57.png') %>"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="<%= require('./src/icons/apple-touch-icon-114x114.png') %>"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="<%= require('./src/icons/apple-touch-icon-72x72.png') %>"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="<%= require('./src/icons/apple-touch-icon-144x144.png') %>"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="60x60"
      href="<%= require('./src/icons/apple-touch-icon-60x60.png') %>"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="<%= require('./src/icons/apple-touch-icon-120x120.png') %>"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="76x76"
      href="<%= require('./src/icons/apple-touch-icon-76x76.png') %>"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="<%= require('./src/icons/apple-touch-icon-152x152.png') %>"
    />
    <link
      rel="icon"
      type="image/png"
      href="<%= require('./src/icons/favicon-196x196.png') %>"
      sizes="196x196"
    />
    <link
      rel="icon"
      type="image/png"
      href="<%= require('./src/icons/favicon-96x96.png') %>"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="<%= require('./src/icons/favicon-32x32.png') %>"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="<%= require('./src/icons/favicon-16x16.png') %>"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="<%= require('./src/icons/favicon-128.png') %>"
      sizes="128x128"
    />
    <link
      rel="shortcut icon"
      href="<%= require('./src/icons/favicon.ico') %>"
      type="image/x-icon"
    />
    <meta name="msapplication-TileColor" content="#1A1A1A" />
    <meta name="msapplication-TileImage" content="icons/mstile-144x144.png" />
    <meta
      name="msapplication-square70x70logo"
      content="<%= require('./src/icons/mstile-70x70.png') %>"
    />
    <meta
      name="msapplication-square150x150logo"
      content="<%= require('./src/icons/mstile-150x150.png') %>"
    />
    <meta
      name="msapplication-wide310x150logo"
      content="<%= require('./src/icons/mstile-310x150.png') %>"
    />
    <meta
      name="msapplication-square310x310logo"
      content="<%= require('./src/icons/mstile-310x310.png') %>"
    />
    <link rel="manifest" href="<%= require('./src/manifest.webmanifest') %>" />
    <meta name="theme-color" content="#1A1A1A" />
    <base href="/" />
    <title>Generative.fm - Ambient Generative Music by Alex Bainter</title>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    <!-- TODO: Preload this when more browsers support it -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto|Arimo"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="root">
      <noscript
        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"
        >JavaScript must be enabled.</noscript
      >
    </div>
  </body>
</html>
