@import '_colors';
@import '_mixins';

.about-tab {
  .update-alert {
    display: flex;
    align-items: center;
    &__dot {
      @include dot();
      display: inline-block;
      margin-right: 0.5em;
    }
  }

  .follow-btn {
    display: none;

    &--rendered {
      display: inline;
    }
  }

  .center {
    text-align: center;
  }

  .support-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > * {
      margin: 0.5em;
      text-align: center;
    }
  }
}
