@import '_colors';
@import '_mixins';

.about-tab {
  padding: 1em;
  max-width: 700px;
  margin: 0 auto;

  h2 {
    font-weight: inherit;
  }

  .update-alert {
    display: flex;
    align-items: center;
    font-style: italic;
    &__dot {
      @include dot();
      display: inline-block;
      margin-right: 0.5em;
    }
  }
}
