@import '_colors';
@import '_mixins';

.about-tab {
  .update-alert {
    display: flex;
    align-items: center;
    font-style: italic;
    &__dot {
      @include dot();
      display: inline-block;
      margin-right: 0.5em;
    }
  }

  .follow-btn {
    display: none;

    &--rendered {
      display: inline;
    }
  }
}
