@import '_colors.scss';

.more-btn {
  &__menu {
    background: #252525;
    border-radius: 3px;
    overflow: hidden;

    &__btn {
      padding: 0.5em;
      background-color: transparent;
      color: $primaryColor;
      font-size: 0.9em;
      cursor: pointer;
      border: none;
      transition: background-color 200ms;

      // don't need @include hoverStyle since the menu will close on click
      &:hover {
        background-color: lighten(#252525, 15%);
      }

      &:active {
        background-color: lighten(#252525, 30%);
      }

      &:focus {
        outline: none;
      }
    }
  }
}
