@import '_colors.scss';

@mixin textEllipsisOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin statusIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  opacity: 0.5;
  color: white;
  padding: 1em;
  border-radius: 50%;
  font-size: 1.5em;
  border: 1px solid white;

  & > .svg-inline--fa {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1em;
    transform: translate(-50%, -50%);
  }
}

.pieces-tab {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2em;

  .piece {
    border: 1px solid #999;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
    margin: 0.5em;
    transition: box-shadow 150ms;

    &__image {
      width: 200px;
      height: 200px;
      position: relative;
      & > img {
        max-width: 100%;
      }

      &__button {
        @include statusIndicator;
        cursor: pointer;
        visibility: hidden;

        &:hover {
          opacity: 0.95;
          transform: translate(-50%, -50%) scale(1.2);
        }

        &:focus {
          outline: none;
        }

        // Optically center the "play" icon
        & > .fa-play {
          transform: translate(-36%, -50%);
        }
      }

      &__is-playing-indicator {
        @include statusIndicator;
      }
    }

    &__info {
      padding: 0 1em 0.5em;
      line-height: 1.5;
      white-space: nowrap;

      &__title {
        margin-top: 0.5em;
        @include textEllipsisOverflow;
      }
      &__artist {
        font-size: 0.9em;
        margin-bottom: 0.5em;
        @include textEllipsisOverflow;
      }

      &__playtime {
        font-size: 0.7em;
        color: #999;
      }
    }

    &:hover {
      box-shadow: 0 5px 15px 3px #bbb;

      .piece__image__button {
        visibility: visible;
      }

      .piece__image__is-playing-indicator {
        visibility: hidden;
      }
    }
  }
}
