@import '_colors.scss';

.pieces-tab {
  background-color: $backgroundColor;

  .filter-bar {
    width: 100%;
    padding: 1.25em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__filters {
      display: flex;
      flex-wrap: wrap;

      & > div {
        padding: 0 2em;
      }

      @media (max-width: 768px) {
        & > div {
          padding: 0 0.5em;
        }
      }
    }
  }

  .pieces-container {
    position: relative;
    display: flex;
    justify-content: center;

    .pieces {
      height: 100%;
      padding: 0 2em 2em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 100em;
    }

    @media (max-width: 768px) {
      .pieces {
        padding: 0 0.25em 2em;
      }
    }
  }

  .no-results-message {
    margin: 1em auto;
    display: flex;
    justify-content: center;
  }
}
