@import '_colors.scss';
@import '_variables.scss';

@mixin textEllipsisOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.currently-playing {
  display: flex;
  align-items: center;
  min-height: $controlsHeight;

  &__info {
    max-width: 100%;
    white-space: nowrap;
    line-height: 1.5;
    font-size: 0.9em;

    &__title {
      margin-left: 0.5em;
      color: $primaryColor;
      @include textEllipsisOverflow;
    }
    &__btns {
      margin-left: 0.5em;

      &__btn {
        margin: 0.2em 0.5em 0;
        font-size: 1.25em;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__visualizer {
    max-height: $controlsHeight;
  }
}
