$backgroundColor: #121212;

$primaryColor: white;
$primaryHoverColor: #999;
$primaryActiveColor: #555;

$secondaryColor: #aaa;
$secondaryHoverColor: #888;
$secondaryActiveColor: #767676;

$highlightColor: #ffd700;
$highlightHoverColor: darken(#ffd700, 15%);
$highlightActiveColor: darken(#ffd700, 30%);
