@import '_variables.scss';

.app {
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: $controlsHeight;
  }

  &__controls {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .centered-tab {
    padding: 1em;
    max-width: 700px;
    margin: 0 auto;
  }
}
