@import '_variables.scss';
@import '_colors.scss';

.app {
  height: 100%;
  background-color: $backgroundColor;
  color: $primaryColor;

  a {
    color: $secondaryColor;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: $controlsHeight;
    background-color: $backgroundColor;
  }

  &__controls {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .centered-tab {
    padding: 1em;
    max-width: 700px;
    margin: 0 auto;
    background-color: $backgroundColor;
  }
}
