@import '_variables.scss';
@import '_colors.scss';

.app {
  height: 100%;
  background-color: $backgroundColor;
  color: $primaryColor;

  a {
    color: $secondaryColor;
    text-decoration: none;
    border-bottom: 1px solid $secondaryColor;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: $controlsHeight;
    background-color: $backgroundColor;
  }

  &__controls {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
  }

  .centered-tab {
    padding: 1em;
    max-width: 700px;
    margin: 0 auto;
    background-color: $backgroundColor;
  }
}
