@import '_variables';

.volume-control {
  background: #eee;
  width: $volumeControlWidth;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.volume-level {
  position: absolute;
  width: $volumeControlWidth;
  background: black;
  bottom: 0;
  cursor: pointer;
}

.volume-control:active {
  cursor: grabbing;
}

.volume-level:active {
  cursor: grabbing;
}
