@import '_colors.scss';

.airplay {
  width: 100%;

  .st0 {
    fill: #fafafa;
    fill-opacity: 0;
  }

  .st1 {
    fill: #7d7d7d;
  }
}

.airplay--is-connected {
  .st1 {
    fill: $highlightColor;
  }
}
