@import '_colors.scss';

$sideControlWidth: 33%;

.controls {
  height: 5em;
  width: 100%;
  border-top: 1px solid $primaryColor;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__currently-playing {
    width: $sideControlWidth;
  }

  &__volume {
    width: $sideControlWidth;
  }
}
