@import '_mixins.scss';
@import '_colors.scss';

.drop-down {
  background: none;
  font: inherit;
  color: $primaryColor;
  border: 1px solid $primaryColor;

  &:focus {
    outline: none;
  }

  &__item {
    background-color: $backgroundColor;
  }
}
