body {
  margin: 0;
}

.player {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & > div {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  &__title {
    font-size: 1.5rem;
    word-wrap: normal;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
  }

  &__volume {
    height: 85vh;
  }

  &__controls {
  }
}
