{
  "extends": "plugin:react/recommended",
  "env": {
    "node": false,
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 7
  }
}
