@import '_colors.scss';
@import '_mixins.scss';

.title-nav {
  background-color: #1e1e1e;
  color: $primaryColor;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;

  &__header {
    padding: 0 1em;
    overflow-y: auto;

    &__info {
      &__title {
        font-family: 'Arimo', sans-serif;
        font-weight: inherit;
        margin: 0.375em 0;

        &--primary {
          font-size: 1.25em;
        }

        &--secondary {
          font-size: 1em;
          color: $secondaryColor;
        }

        &__cast-btn {
          display: inline-block;
          max-width: 1.75em;
          float: right;
          cursor: pointer;
        }
      }

      &__install-btn {
        float: right;
      }
    }

    &__tab-list {
      list-style: none;
      padding: 0;

      &__item {
        display: inline-block;
        font-size: 0.8em;
        padding: 0 1em;
        position: relative;

        &:first-of-type {
          padding-left: 0;
        }

        a#{&}__link {
          border: none;
          cursor: pointer;
          padding: 0;
          text-decoration: none;
          font-size: 1.1em;
          color: $primaryColor;
          transition: color 200ms;

          @include hoverStyle(#{&}) {
            &:hover {
              color: $primaryHoverColor;

              .title-nav__header__tab-list__item__active-indicator {
                background-color: $highlightHoverColor;
              }

              .title-nav__header__tab-list__item__dot {
                background-color: $highlightHoverColor;
              }
            }

            &:active {
              color: $primaryActiveColor;

              .title-nav__header__tab-list__item__active-indicator {
                background-color: $highlightActiveColor;
              }

              .title-nav__header__tab-list__item__dot {
                background-color: $highlightActiveColor;
              }
            }
          }

          &:focus {
            outline: none;
          }

          &--is-active {
            .title-nav__header__tab-list__item__active-indicator {
              visibility: visible;
            }
          }
        }

        &__active-indicator {
          width: 2.5em;
          height: 0.15em;
          background-color: $highlightColor;
          margin: 0 auto;
          visibility: hidden;
        }

        &__dot {
          @include dot();
          position: absolute;
          top: -0.6em;
          left: 50%;
          transform: translate(-50%);
          animation: 1s ease 1s 3 bounce;
        }
      }
    }
  }

  &__notification {
    background-color: $highlightColor;
    padding: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    a#{&}__msg {
      margin: auto;
      color: $backgroundColor;
      border-color: $backgroundColor;
    }

    &__close {
      margin-right: 0.25em;
      color: $backgroundColor;

      &:hover {
        color: lighten($backgroundColor, 15%) !important;
      }

      &:active {
        color: lighten($backgroundColor, 30%) !important;
      }
    }
  }
}

google-cast-launcher {
  --connected-color: #{$highlightColor};
}

@keyframes bounce {
  0% {
    transform: translate(-50%);
  }
  20% {
    transform: translate(-50%, -13px);
  }
  30% {
    transform: translate(-50%);
  }
  40% {
    transform: translate(-50%, -5px);
  }
  50% {
    transform: translate(-50%);
  }
}
