@import '_colors.scss';

.currently-playing {
  display: flex;
  align-items: center;

  &__visualizer {
    border-right: 1px solid $primaryColor;
  }

  &__title {
    margin-left: 0.5rem;
  }
}
