@import '_colors.scss';

.currently-playing {
  display: flex;
  align-items: center;

  &__title {
    margin-left: 0.5rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 0.9em;
  }
}
