@import '_colors.scss';
@import '_variables.scss';
@import '_mixins.scss';

.control-button {
  width: $buttonWidth;
  height: $buttonWidth;
  background: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  margin: 0.25rem;
  color: $primaryColor;

  @include hoverStyle(#{&}) {
    &:hover {
      color: $primaryHoverColor;

      &::after {
        background: $primaryHoverColor;
      }
    }

    &:active {
      color: $primaryActiveColor;

      &::after {
        background: $primaryActiveColor;
      }
    }
  }

  &:focus {
    outline: none;
  }

  &--is-primary {
    border: 1px solid $primaryColor;
    border-radius: 50%;

    @include hoverStyle(#{&}) {
      &:hover {
        border-color: $primaryHoverColor;
      }

      &:active {
        border-color: $primaryActiveColor;
      }
    }
  }

  &--is-active {
    color: $highlightColor;

    @include hoverStyle(#{&}) {
      &:hover {
        color: $highlightHoverColor;

        &::after {
          background: $highlightHoverColor;
        }
      }

      &:active {
        color: $highlightActiveColor;

        &::after {
          background: $highlightActiveColor;
        }
      }
    }
  }

  &--is-active::after {
    content: '';
    height: 0.35em;
    width: 0.35em;
    background: $highlightColor;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0.8rem;
  }

  & > .svg-inline--fa {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5em;
    transform: translate(-50%, -50%);
  }

  // Optically center the "play" icon
  & > .fa-play {
    transform: translate(-37%, -50%);
  }
}

@media (max-width: 768px) {
  .control-button {
    margin: 0;
    padding: 0;
  }
}
